.section-5-form {
  transform: translateY(2800px);
}
.section-5-offer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-5-zapis {
  font-family: 'Cygre-Black';
  font-size: 80px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  font-family: 'Cygre-Black';
  font-size: 40px;
}

input {
  width: 670px;
  height: 80px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 33px;
  font-size: 20px;
  font-family: 'Cygre-Thin';
}


button:hover {
  background-color: #add7af;
}
.label-name {
  font-size: 40px;
  font-family: 'Cygre-Black';
  padding-right: 30px;
  color: #FFFFF3;
}
.input-name {
  padding-left:30px ;
}
.label-contacts {
  font-size: 40px;
  font-family: 'Cygre-Black';
  padding-right: 30px;
  color: #FFFFF3;
}
.input-email {
  padding-left:30px ;
}
.label-time {
  font-size: 40px;
  font-family: 'Cygre-Black';
  padding-right: 30px;
  color: #FFFFF3;
}
.input-time {
  padding-left:30px ;
}
.div-name-input{
  display: flex;
  flex-direction: row;
}
.div-contacts-input {
  display: flex;
  flex-direction: row;
}
.div-time-input {
  display: flex;
  flex-direction: row;
}
.div-section-5-zapis {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.div-name-input {
  margin-bottom: 20px;
  padding-left: 180px;

}
.div-contacts-input {
  margin-bottom: 20px;
  padding-left: 456px;
}
.div-time-input {
}

/* input::placeholder {
  padding-left: 50px;
} */

.div-section-5-konsult {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Cygre-Black';
  margin-left: 670px;
  margin-bottom: 60px;
}

.section-5-konsult {
  color: #FFFFF3;
}

.div-data {
  display: inline-block;
  margin-top: 30px;
  margin-left: 140px;
}

.span-data {
  font-family: 'Cygre-Black';
  font-size: 20px;
  color: #FFFFF3;
}
.span-data-href {
  font-family: 'Cygre-Black';
  font-size: 20px;
  color: #FFFFF3;
  margin-left: 205px;
}
.div-checkbox {
  display: flex;
  justify-content: center;
  padding-left: 715px;
  margin-top: -60px;

  
}
/* Скрываем стандартный чекбокс */
input[type="checkbox"] {
  display: none;
}

/* Стили для кастомного чекбокса */
.checkbox-button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-custom {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Когда чекбокс выбран, меняем цвет фона и границы */
input[type="checkbox"]:checked + .checkbox-custom {
  background-color: #2D7559; /* Зеленый фон */
  border-color: #2D7559;
}

/* Добавляем зеленую галочку, когда чекбокс выбран */
input[type="checkbox"]:checked + .checkbox-custom::after {
  content: '✔';
  position: absolute;
  top: 10px;
  left: 17px;
  color: white;
  font-size: 16px;
}

/* Стиль текста рядом с чекбоксом */
.checkbox-text {
  font-size: 16px;
}

.div-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 700px;
  margin-top: 30px;
}
.div-green-big-block {
  margin-top: 200px;
  margin-left: -60px;
  position: absolute; /* Устанавливаем абсолютное позиционирование */
  top: 0; /* Выравниваем блок по верхнему краю */
  left: 0; /* Выравниваем блок по левому краю */
  width: 1500px; /* Делаем блок по ширине страницы */
  height: 800px; /* Делаем блок на всю высоту */
  background-color: #2D7559; /* Задаём цвет */
  z-index: -1; /* Размещаем блок ниже текста */
  border-radius: 50px;
}
.section-5-form {
  position: relative; /* Устанавливаем относительное позиционирование */
  z-index: 4; /* Задаём уровень выше зелёного блока */
  margin-top: -700px;
}
body {
  position: relative; /* Добавляем относительное позиционирование к родительскому элементу */
  z-index: 1; /* Задаём уровень ниже зелёного блока */
}